*{
	margin: 0px;
	padding:10 px;
	box-sizing: border-box;
	
	
}
bg{
	width:1000%;
	position: absolute;
	z-index:-1;
	opacity:0.6;
	
}
.container {
	max-width: 100%;
	background-color:bisque;
	padding: 30px;
	margin: 20px;
}

input,h3{
	width: 85%;
	text-align: center;
	padding: 6px;
	margin: 5px;
	border-radius: 20px;
	height: auto;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	box-shadow: 15px;

}
.btn{
	width: 29%;
	padding: 0px 0px;
	margin: 30px;
	text-align: center;
	border-radius: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: blue;
	color: white;
	cursor: pointer;
}

.btn:hover{
	text-decoration-color: coral;
	background-color: green;
	color:rgb(5, 0, 0);
}