*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	

}

.bg{
	width:100%;
	position: absolute;
	z-index:-1;
	opacity:0.6;
	
	
}

.container {
	max-width: 100%;
	background-color: ligh grey;
	padding: 30px;
	margin: 20px;
		
}

.container h1, h2{
	text-align: center;
	background-color: grey;
	color: white;
}

input, p{
	width:85%;
	text-align: left;
	padding: 6px;
	margin: 5px;
	outline: 1px;
	border-radius: 20px;
	height: 25px;
	font-size: 12x;
	font-family: "Times New Roman", Times, serif;
	box-shadow: 15px;
			
}

p {
  color: black;
  text-shadow: 1px 1px 2px grey, 1px 1px 1px rgb(198, 79, 69);
  font-family: Georgia, serif;
}
			



.btn {
  background-color: blue;
  border: none;
  color: white;
  border-radius:10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif; 
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   
}
.btn:hover {
  background-color: green;
    color: rgb(8, 0, 0);
}
    
h1:hover{
  background-color: green;
  color: rgb(8, 0, 0);	
  transition-duration: 0.4s;
  cursor: pointer;
}
  






  

